[Desktop Entry]
Type=Application
Name=Generate KDE color palete for Qubes windows
Exec=qubes-generate-color-palete
StartupNotify=false
NoDisplay=true
OnlyShowIn=KDE
X-KDE-autostart-phase=1
